{% extends "theapp/newBase.html" %}

{% block content %}
    <h2>{{ article.title }}</h2>
    <a href="/news/{{ object.category }}"><h5>{{ article.get_category_display }}</h5></a>
    <p>{{ article.body }}</p>
    </br>
    <h4>Comments</h4>
    <div class="row">
    {% for object in comments %}
        <div class="col-xs-12 col-sm-6 col-md-8">
        </br>
        <b>{{ object.user_id }}</b> wrote </br>
        <p>{{ object.content }}</p>
        </div>
    {% endfor %}
    </div>
{% endblock content %}
