<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>News</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'theapp/style.css' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
</head>
<body>
    {% block menu %}
        <ul>
            <li><a href="#home">Home</a></li>
            <li><a href="#bs">Business</a></li>
            <li><a href="#sp">Sport</a></li>
        </ul>
    {% endblock menu %}
    {% block content %}{% endblock content %}
</body>
</html>