{% extends "theapp/newBase.html" %}
{% block content %}
{% load staticfiles %}
<script src="{% static 'theapp/profile.js' %}"></script>
<div class="container">
<form method='POST' action='/changePassword/' enctype='multipart/form-data'>
  	{% csrf_token %}
	<span class='fieldname'>To change your password, enter the following: </span>
	<br>


	<div style="width: 60%;" class="input-group">
		<span style="width: 20.5%;" class="input-group-addon">Old Password</span>
		<input type='password' class="form-control" maxlength='50' id='op' name='old_password' autocomplete='off'>
	</div>

	<span id='passmessage'></span>

	<br/>
	<div style="width: 60%;" class="input-group">
		<span style="width: 20.5%;" class="input-group-addon">New Password</span>
		<input type='password' class="form-control" maxlength='50' id='np' name='new_password'>
	</div>
	<br>
	<div style="width: 60%;" class="input-group">
		<span class="input-group-addon">Confirm Password</span>
		<input type='password' class="form-control" maxlength='50' id='np_confirm' name='new_password_confirm'>
	</div>

	<span id='message'></span>

	<br>
   	<input type='submit' class="btn btn-primary" id="submit_but" value='Update password' disabled>
</form>
</div>
{% endblock %}
