{% extends "theapp/newBase.html" %}
{% block content %}
{% load staticfiles %}
<script src="{% static 'theapp/profile.js' %}"></script>

<form method='POST' action='/changePassword/' enctype='multipart/form-data'>
  	{% csrf_token %}
	<span class='fieldname'>To change your password, enter the following: </span>
	<br>
	<span class='fieldname'>Old password</span>
	        <input type='password' maxlength='50' id='op' name='old_password' autocomplete='off'>
			<span id='passmessage'></span>
	<br>
	<span class='fieldname'>New password</span>
	        <input type='password' maxlength='50' id='np' name='new_password'>
		<br>
	<span class='fieldname'>Confirm new password</span>
	        <input type='password' maxlength='50' id='np_confirm' name='new_password_confirm'>
	  <span id='message'></span>
<br>
   <input type='submit' id="submit_but" value='Update password'>
</form>
{% endblock %}
