{% extends "theapp/newBase.html" %}
{% load staticfiles %}

{% block content %}
<script src="{% static 'theapp/login.js' %}"></script>
<br>
<br>
<div class="container" style="margin: 0 auto; width: 75%; text-align: center">
    {% if loggedin %}
    <h3>You are now logged in.
        Please <a href='/news/'>click here</a> to go to the news or <a href='/profile/'>click here</a> to check your profile.</h3>
        <br><br>
    {% else %}
    {{context}}
        <h3>Please enter your details to login</h3>
        <form class="form-inline" method='POST' action='/login/'>
        	{% csrf_token %}
            <div class="form-group">
                <label class="sr-only" for="logusername">Username:</label>
                <input type='text' class="form-control" maxlength='50' id='logusername' name='username' placeholder="UserName">
            </div>
            <div class="form-group">
                 <label class="sr-only" for="pass">Password:</label>
                 <input type='password' class="form-control" maxlength='25' id="pass" name='password' placeholder="Password" required>
                 <span class='fieldname'>&nbsp;</span>
            </div>
            <button type="submit" class="btn btn-primary" value='Login' disabled id = "submButton">Login</button>
        </form>
    <span id='info' class="hidden"></span>
    {% endif %}
</div>

{% endblock content %}