{% load staticfiles %}

<html>
    <head>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <title>Newspaper</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>

        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    </head>
    <body>
    <!--{% block menu %}-->
        <header>
            <nav class="navbar navbar-default">
              <div class="container-fluid">
                <div class="navbar-header">
                  <a class="navbar-brand" href="/news/">News Website</a>
                </div>
                <ul class="nav navbar-nav">
                 <li class="active"><li><a href="/news/">Home</a></li>
                        <li><a href="/news/bs/">Business</a></li>
                        <li><a href="/news/sp/">Sport</a></li>
                </ul>

                <ul class="nav navbar-nav navbar-right">
                    {% if loggedin %}
                    <li><a href="/profile"><span class="glyphicon glyphicon-profile"></span>My profile</a></li>
                    <li><a href="/logout"><span class="glyphicon glyphicon-log-out"></span>Logout</a></li>
                    {% else %}
                  <li><a href="/"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
                  <li><a href="/login/"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
                    {% endif %}
                </ul>
              </div>
            </nav>
        </header>
    <!--{% endblock menu %}-->
    <main class = "container" role="main">{% block content %}{% endblock content %}</main>
    </body>
</html>
