{% extends "theapp/newBase.html" %}
{% block content %}
<div class='main'>
{% if text %}
<h3>Your Profile</h3>
{{ phone }} <br style='clear:left;'><br>
{% endif %}
<form method='POST' action='/profile/' enctype='multipart/form-data'>
  	{% csrf_token %}
	<h3>Enter or edit your details </h3>
	<span class='fieldname'>Email address</span>
            <input type='text' maxlength='50' id='logusername' name='email' value={{email_addr}}>
	<br>
	<span class='fieldname'>Phone number</span>
	        <input type='text' maxlength='50' id='loguserphone' name='phone' value={{phone}}>
	<br>
	<span class='fieldname'>Name</span>
	        <input type='text' maxlength='50' id='name' name='username' value={{name}}>
	<br>
	<br>
	<br>
	<span class='fieldname'>To change your password, enter the following: </span>
	<span class='fieldname'>Old password</span>
	        <input type='password' maxlength='50' id='op' name='old_password' autocomplete='off'>
			<span id='passmessage'></span>
	<br>
	<span class='fieldname'>New password</span>
	        <input type='password' maxlength='50' id='np' name='new_password'>
		<br>
	<span class='fieldname'>Confirm new password</span>
	        <input type='password' maxlength='50' id='np_confirm' name='new_password_confirm'>
	  <span id='message'></span>

   <input type='submit' id="submit_but" value='Save Profile' disabled>
</form>
	<script>

		function checkPass(){
		    console.log('MB HERE?')
		    var data =$.parseJSON(this.success.arguments[0])
		    console.log(data)
			$('#passmessage').html('Correct')


    }

	$(function(){
		$('#np, #np_confirm').on('keyup', function () {
		    console.log('Here sooka')
		if ($('#np').val() == $('#np_confirm').val()&&$('#np').val()!='') {
		 $('#message').html('Matching').css('color', 'green');
		 $('#submit_but').removeAttr("disabled");
		}
		else if  ($('#np').val()=='' && $('#np_confirm').val()=='') {
                $('#message').html('')
            }
        else {
			$('#message').html('Not Matching').css('color', 'red');
			$('#submit_but').attr("disabled",'disabled');
		    }

		});
		 $('#old_password').on('keyup',function () {

		    console.log('LOL')
		    $('#passmessage').html('Here')
            $.ajax({
                type: 'GET',
                url: '/checkpassword/',
                data: {
                    'csrfmiddlewaretoken': $("input[name=csrfmiddlewaretoken]").val(),
					'passw': $('#old_password').val()
                },
                success: checkPass(),
                dataType: 'html'
            });
        })

	});



</script>
</div>
{% endblock %}

